<div class="section hero">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">Leef gaandeweg gezonder. Ontdek Recappt, het is gratis.</h4>
          <a class="button button-primary" href="/users/new">Maak een account</a>
          
        </div>
        <div class="one-half column phones">
          <img class="phone" src="../assets/iphone.png">
          <img class="phone" src='../assets/iphone.png'>
        </div>    
      </div>
    </div>
  </div>

  <div class="section values">
    <div class="container">
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier">67%</h2>
          <h5 class="value-heading">Ongezond</h5>
          <p class="value-description">Percentage van mensen in Nederland die ongezond eten.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">90%</h2>
          <h5 class="value-heading">Motivatie</h5>
          <p class="value-description">Het merendeel van deze groep mensen zegt een gebrek aan motivatie te ondervinden. </p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">666%</h2>
          <h5 class="value-heading">Blabla</h5>
          <p class="value-description">Ook dit slaat weer als een lul op een drumstel.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section get-help">
    <div class="container">
      <h3 class="section-heading">Hulp nodig?</h3>
      <p class="section-description">Recappt is ontzettend makkelijk en voor iedereen een blaaaaaaaa!</p>
      <a class="button button-primary" href="/recipes/new">Bekijk de recepten</a>
    </div>
  </div>

  <div class="section categories">
    <div class="container">
      <h3 class="section-heading">Mooie afbeeldingen</h3>
      <p class="section-description">Onderzoek wijst uit dat mooie plaatjes bij hoge uitzondering erg lelijk zijn.</p>
      <div class="row">
        <div class="one-half column category">
          <img class="u-max-full-width" src="../assets/placeholder.png">
        </div>
        <div class="one-half column category">
          <img class="u-max-full-width" src="../assets/placeholder.png">
        </div>
      </div>
    </div>
  </div>
