<div class="content">
    <div class="container">
      <div class="about-section">
        <div class="about-section-top text-center">
          <br>
          <h3>Wat is recappt?</h3>
          <h5>Vestibulum malesuada porttitor viverra. Donec laoreet ligula in porta vulputate. 
            Morbi et consequat massa, ac convallis magna. Nullam vel laoreet nisl, in ultricies quam. 
            Duis dignissim velit porta dui fringilla, non pulvinar urna porttitor.</h5>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse 
          eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis egestas, enim justo 
          placerat magna, nec dictum enim ante id elit.</p>
</div>
</div>
</div>
</div>