<!-- <div class="content">
    <div class="container">
      <div class="about-section">
        <div class="about-section-top text-center">
          <h3>Wat is recappt?</h3>
          <h5>Vestibulum malesuada porttitor viverra. Donec laoreet ligula in porta vulputate. 
            Morbi et consequat massa, ac convallis magna. Nullam vel laoreet nisl, in ultricies quam. 
            Duis dignissim velit porta dui fringilla, non pulvinar urna porttitor.</h5>
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse 
          eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis egestas, enim justo 
          placerat magna, nec dictum enim ante id elit.</p>
        </div>
        <div class="about-section-bottom">
          <div class="col-md-6 what-we-do">
            <h4>Wat doet het?</h4>
            <a href="details.html"><img src="assets/crop.jpg" alt="" /></a>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
              cubilia Curae; Suspendisse eget mi diam. Quisque eget ante lorem. Proin tin
              cidunt, lorem ut convallis egestas, enim justo placerat magna, nec dictum 
              enim ante id elit.
            </p>
            <a class="btn btn-1 btn-1c more" href="details.html">Read More</a>
          </div>
          <div class="col-md-6 feature-accord">
                <ul class="topic_grid">
                   <li class="list1"><h4 class="m_3">Tekst</span></h3></li>
                 </ul>
                  <div class="menu_vertical">
                      <section class="accordation_menu">
                    <div>
                      <input id="label-1" name="lida" type="radio" checked/>
                     <label for="label-1" id="item1"><i class="ferme"> </i><span class="m_5">Vestibulum malesuada  </span><i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                      <div class="content1" id="a1">
                        <ul class="news_list">
                       <li class="date_desc">
                              <p>Phasellus in magna quis quam lobortis fermentum a eget ipsum.Praesent sodales pretium tellus, et euismod neque malesuada et. Maecenas ultrices nulldia.</p>
                           </li>
                           <div class="clearfix"> </div>
                        </ul>
                      </div>
                    </div>
                    <div>
                      <input id="label-2" name="lida" type="radio"/>
                      <label for="label-2" id="item2"><i class="icon-leaf" id="i2"></i>Cras ornare tristiave<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                      <div class="content1" id="a2">
                         <ul class="news_list">
                       <li class="date_desc">
                            <p>Phasellus in magna quis quam lobortis fermentum a eget ipsum.Praesent sodales pretium tellus, et euismod neque malesuada et. Maecenas ultrices nulldia.</p>
                           </li>
                           <div class="clearfix"> </div>
                        </ul>      
                      </div>
                    </div>
                    <div>
                      <input id="label-3" name="lida" type="radio"/>
                      <label for="label-3" id="item3"><i class="icon-trophy" id="i3"></i>Vestibulum malesuada  <i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                      <div class="content1" id="a3">
                         <ul class="news_list">
                           <li class="date_desc">
                            <p>Etiam feugiat lectus nisl, in euismod lectus viverra et. 
                        Sed et scelerisque felis. Integer vel volutpat massa. 
                        Donec id justo nisl. Vivamus .</p>
                           </li>
                           <div class="clearfix"> </div>
                        </ul>
                      </div>
                    </div>
                     <div>
                      <input id="label-4" name="lida" type="radio"/>
                      <label for="label-4" id="item4"><i class="icon-trophy" id="i4"></i>Fusce pellellentsque suscrite<i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                      <div class="content1" id="a4">
                         <ul class="news_list">
                           <li class="date_desc">
                            <p>Etiam feugiat lectus nisl, in euismod lectus viverra et. 
                        Sed et scelerisque felis. Integer vel volutpat massa. 
                        Donec id justo nisl. Vivamus .</p>
                           </li>
                           <div class="clearfix"> </div>
                        </ul>
                      </div>
                    </div>
                     <div>
                      <input id="label-5" name="lida" type="radio"/>
                      <label for="label-5" id="item5"><i class="icon-trophy" id="i5"></i>Ut aliquam Solliicitudin <i class="icon-plus-sign i-right1"></i><i class="icon-minus-sign i-right2"></i></label>
                      <div class="content1" id="a5">
                         <ul class="news_list">
                           <li class="date_desc">
                            <p>Etiam feugiat lectus nisl, in euismod lectus viverra et. 
                        Sed et scelerisque felis. Integer vel volutpat massa. 
                        Donec id justo nisl. Vivamus .</p>
                           </li>
                           <div class="clearfix"> </div>
                        </ul>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div> -->