<div class="blog  wow fadeInUp" data-wow-delay="0.4s" id="blog">
    <div class="container">
      <h3 class="heding"><span>Blo</span>g</h3>
      <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum</p>
      <div class="blog-row">
        <div class="col-md-4 blog-column">
          <div class="blog-data">
            <img src="assets/blog3.jpg" alt="">
            <div class="img-desc">
              <h4>Blog Title One</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer Mirum est notare quam litter<br> Lorem ipsum dolor sit amet, consectetuer Mirum est notare quam litter</p>
              <p class="cmt"><span></span> 2,254 <i class="stars"><img src="assets/stars.png" alt=""/></i> <i class="bl-arw"><img src="assets/blog-arw.png" alt=""/></i></p>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 blog-column">
          <div class="blog-data">
            <img src="assets/blog2.jpg" alt="">
            <div class="img-desc">
              <h4>Blog Title One</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer Mirum est notare quam litter<br> Lorem ipsum dolor sit amet, consectetuer Mirum est notare quam litter</p>
              <p class="cmt"><span></span> 2,254 <i class="stars"><img src="assets/stars.png" alt=""/></i> <i class="bl-arw"><img src="assets/blog-arw.png" alt=""/></i></p>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 blog-column">
          <div class="blog-data">
            <img src="assets/blog1.jpg" alt="">
            <div class="img-desc">
              <h4>Blog Title One</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer Mirum est notare quam litter<br> Lorem ipsum dolor sit amet, consectetuer Mirum est notare quam litter</p>
              <p class="cmt"><span></span> 2,254 <i class="stars"><img src="assets/stars.png" alt=""/></i> <i class="bl-arw"><img src="assets/blog-arw.png" alt=""/></i></p>
            </div>
            
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="blog-but">
          <a href="#">View ll Blog</a>
        </div>
      </div>
    </div>
  </div>