<div class="contact" id="contact">
    <div class="container">
      <h3 class="heding"><span>Contact </span>- form</h3>
      <p>Vragen over recappt? </p>
      <div class="contact-box">
        <input type="text" placeholder="Naam" required="" />
        <input type="text" placeholder="Email" required=""/>
        <input type="text" placeholder="Onderwerp" required=""/>
      </div>
      <div class="contact-box">
        <textarea placeholder="Bericht" required=""></textarea>
      </div>
      <div class="clearfix"></div>
      <div class="text">
        <input type="submit" value="Verzenden" />
      </div>
    </div>
  </div>