<div class="contact" id="contact">
    <div class="container">
      <h3 class="heding"><span>Contact </span>- form</h3>
      <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum </p>
      <div class="contact-box">
        <input type="text" placeholder="Name" required="" />
        <input type="text" placeholder="Email" required=""/>
        <input type="text" placeholder="Subject" required=""/>
      </div>
      <div class="contact-box">
        <textarea placeholder="Message" required=""></textarea>
      </div>
      <div class="clearfix"></div>
      <div class="text">
        <input type="submit" value="Send Mail" />
      </div>
    </div>
  </div>