  <div class="footer  wow fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <i class="locater"></i>
      <p>NHL Hogeschool Leeuwarden</p>
      <i class="locater"></i>
      <p>Tel : 0653347678</p>
      <ul class="footer-list">
        <li><i class="fa"></i></li>
        <li><i class="fb"></i></li>
        <li><i class="fc"></i></li>
        <li><i class="fd"></i></li>
      </ul>
      <p>Email :<a href="mailto:example@email.com"> wesley_@live.nl</a></p>
    </div>
  </div>
  <p class="copyright">2015</p>
  <script type="text/javascript">
        $(document).ready(function() {
          /*
          var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
          };
          */
          
          $().UItoTop({ easingType: 'easeOutQuart' });
          
        });
      </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>