  <div class="footer  wow fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <i class="locater"></i>
      <p>Street name, lorem Ipsum</p>
      <i class="locater"></i>
      <p>Tel : 00-2548-56897-587</p>
      <ul class="footer-list">
        <li><i class="fa"></i></li>
        <li><i class="fb"></i></li>
        <li><i class="fc"></i></li>
        <li><i class="fd"></i></li>
      </ul>
      <p>Email :<a href="mailto:example@email.com"> info@agco.com</a></p>
    </div>
  </div>
  <p class="copyright"> 2014 Template by <a href="http://w3layouts.com">W3layouts</a></p>
  <script type="text/javascript">
        $(document).ready(function() {
          /*
          var defaults = {
              containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
          };
          */
          
          $().UItoTop({ easingType: 'easeOutQuart' });
          
        });
      </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>