<div class="header">
    <div class="container">
      <div class="logo">
        <img src="assets/logo.png" alt="" />
      </div>
      <div class="tollfree">
        <ul>
          <li><i class="phone"></i></li>
          <li><p class="call">TOLL FREE :</p>
          <p>1-009-123-1234</p></li>
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="navigation">
       <div class="navigation-bar">
       <div class="search2">
            <form>
             <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
             <input type="submit" value="">
            </form>
          </div>
        <span class="menu"></span>
        <div class="top-menu">
          <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="404.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
            <div class="clearfix"></div>
          </ul>
        </div>
        <!-- script for menu -->
        <script>
        $( "span.menu" ).click(function() {
          $( ".top-menu" ).slideToggle( "slow", function() {
            // Animation complete.
          });
        });
      </script>
      <!-- script for menu -->
          <div class="clearfix"> </div>
      </div>
      </div>
    </div>
  </div>