<div class="header">
    <div class="container">
      <span class="menu"></span>
      <div class="navigation">
        <ul class="navig">
          <li><a href="#" class="active">Home&nbsp; /</a></li> &nbsp;
          <li><a href="#about" class="scroll">About</a></li>&nbsp; / &nbsp;
          <li><a href="#service" class="scroll">Services</a></li>&nbsp; / &nbsp;
          <li><a href="#project" class="scroll">Projects</a></li>&nbsp; / &nbsp;
          <li><a href="#blog" class="scroll">Blog</a></li>&nbsp; / &nbsp;
          <li><a href="#contact" class="scroll">Contact</a></li>
        </ul>
      </div>
      <script>
          $( "span.menu" ).click(function() {
            $( ".navigation" ).slideToggle( "slow", function() {
              // Animation complete.
            });
          });
        </script>
      <div class="logo">
        <a href="index.html"><img src="assets/logo.png" alt=""></a>
        <p>Leef gaandeweg gezonder  <br>door de heerlijkste recepten te ontdekken.</p>
      </div>
      <div class="header-row">
        <div class="col-md-4 header-column  wow fadeInUp" data-wow-delay="0.4s">
          <i class="buf"></i>
          <h3>Agricultural Seeds</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum </p>
        </div>
        <div class="col-md-4 header-column h-c1  wow fadeInUp" data-wow-delay="0.4s">
          <i class="tract"></i>
          <h3>Technologies & Partnering</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum </p>
        </div>
        <div class="col-md-4 header-column h-c2  wow fadeInUp" data-wow-delay="0.4s">
          <i class="buff"></i>
          <h3>Research & Development</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>