<div class="what-we  wow fadeInUp" data-wow-delay="0.4s" id="about">
    <div class="container">
      <div class="col-md-4 what-we-column">
        <h3 class="heding"><span>What we</span> do </h3>
        <p>Duis autem vel eum</p>
      </div>
      <div class="col-md-8 what-we-column1">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummynib suspe    uismod tincidunt ut laoreet dolore magna aliquam lectores legere me lius  placerat fac er possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere.</p>
        <div class="row wt-w-row">
          <div class="col-md-6 wt-w-col">
            <i class="grapo"></i>
            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit . </p>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-6 wt-w-col">
            <i class="grapos"></i>
            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit . </p>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>