<div class="portfolios entertain_box  wow fadeInUp" data-wow-delay="0.4s" id="project">
    <div class="container">
      <h3 class="heding"><span>Port</span>folio</h3>
      <p>These are some previous works</p>
      <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="app card icon logo web">All</span></li>
            <li><span class="filter" data-filter="app">Category 1</span></li>
            <li><span class="filter" data-filter="card">Category 2</span></li>
            <li><span class="filter" data-filter="icon">Category 3</span></li>
          </ul>
          <div id="portfoliolist">
          <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
            <div class="portfolio-wrapper">   
              <a href="web/images/b-p1.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
                 <img src="web/images/p1.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="web/images/img-hr.png" alt=""/></h2>
                 </div></a>
                    </div>
          </div>        
          <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
            <div class="portfolio-wrapper">   
              <a href="web/images/b-p2.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
                 <img src="web/images/p2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="web/images/img-hr.png" alt=""/></h2>
                 </div></a>
                    </div>
          </div>    
          <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
            <div class="portfolio-wrapper">   
              <a href="web/images/b-p5.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
                 <img src="web/images/p5.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="web/images/img-hr.png" alt=""/></h2>
                 </div></a>
                    </div>
          </div>        
          <div class="portfolio icon mix_all" data-cat="logo" style="display: inline-block; opacity: 1;">
            <div class="portfolio-wrapper">   
              <a href="web/images/b-p3.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
                 <img src="web/images/p3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="web/images/img-hr.png" alt=""/></h2>
                 </div></a>
                    </div>
          </div>  
          <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
            <div class="portfolio-wrapper">   
              <a href="web/images/b-p4.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
                 <img src="web/images/p4.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="web/images/img-hr.png" alt=""/></h2>
                 </div></a>
                    </div>
          </div>      
          <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
            <div class="portfolio-wrapper">   
              <a href="web/images/b-p6.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
                 <img src="web/images/p6.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="web/images/img-hr.png" alt=""/></h2>
                 </div></a>
                    </div>
          </div>
    </div>
  </div>
</div>