<!-- <div class="service-section">
  <div class="container">
    <div class="service-section-grids">
      <div class="col-md-4 service-section-grid-3">
        <h3>Bosbessen smoothie</h3>
        <img src="assets/bosbessensmoothie.png" alt="" />
        <h4>Quisque eget ante lorem. Proin tincidu, lorem ut convallis egestas</h4>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspend isse eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis egestas, enim justo placerat magna, nec dictum enim ante id elit.</p>
        <a class="btn btn-1 btn-1c" href="">Bekijk het recept</a>
      </div>
      <div class="col-md-4 service-section-grid-3">
        <h3>Pannenkoeken</h3>
        <img src="assets/pannenkoeken.png" alt="" />
        <h4>Quisque eget ante lorem. Proin tincidu, lorem ut convallis egestas</h4>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspend isse eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis egestas, enim justo placerat magna, nec dictum enim ante id elit.</p>
        <a class="btn btn-1 btn-1c" href="">Bekijk het recept</a>
      </div>
      <div class="col-md-4 service-section-grid-3">
      <h3>Gebakken eieren</h3>
      <img src="assets/gebakkeneieren.png" alt="" />
      <h4>Praesent sodales pretium tellus, et euismod neque malesuada et</h4>
      <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspend isse eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis egestas, enim justo placerat magna, nec dictum enim ante id elit.</p>
      <a class="btn btn-1 btn-1c" href="">Bekijk het recept</a>
      </div>
    </div>
      <div class="clearfix"></div>
      </div>
  </div>
</div>

 -->