<div class="services  wow fadeInUp" data-wow-delay="0.4s" id="service">
    <div class="container">
      <h3 class="heding"><span>Servi</span>ces</h3>
      <div class="row services-row">
        <div class="col-md-8 services-column">
          <h4>General Consulting services to our valued clients</h4>
          <div class="ser_col">
            <i class="tomoto"><img src="assets/tomoto.png" alt=""></i>
            <div class="ser-col-right">
              <h4>General Consulting Services </h4>
              <p>Duis autem vel eum iriure dolor in hendrerit in vulputate Mirum est notare quam littera  Duis autem vel eum iriure dolor in hendrerit in vulputate Mirum est notare quam littera  autem vel eum iriure dolor in hendrerit in vulputate Mirum est notare  </p>
              <a href="#">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="ser_col">
            <i class="tomoto"><img src="assets/tomot1.png" alt=""></i>
            <div class="ser-col-right">
              <h4>General Consulting Services </h4>
              <p>hendrerit in vulputate Mirum Duis autem vel eum iriure dolor in  est notare quam littera  Duis autem vel eum iriure dolor in hendrerit in vulputate Mirum est notare quam littera  autem vel eum iriure dolor in hendrerit in vulputate Mirum est notare  </p>
              <a href="#">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="ser_col">
            <i class="tomoto"><img src="assets/pumpkin.png" alt=""></i>
            <div class="ser-col-right">
              <h4>General Consulting Services </h4>
              <p>Mirum est notare quam littera  Duis autem vel eum iriure Duis autem vel eum iriure dolor in hendrerit in vulputate  dolor in hendrerit in vulputate Mirum est notare quam littera  autem vel eum iriure dolor in hendrerit in vulputate Mirum est notare  </p>
              <a href="#">Read More</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-4 services-column">
          <h4>Research services</h4>
          <ul class="reserch">
            <li><a href="#">Ut wisi enim ad minim anf venlorem</a></li>
            <li><a href="#">Ut wisi enim ad minim veniam</a> </li>
            <li><a href="#">Ut wisi enim ad minim ven lorem</a></li>
            <li><a href="#">Ut wisi enim ad minim</a></li>
            <li><a href="#">Ut wisi enim ad minim veniam</a></li>
            <li><a href="#">wisi enim ad minim veniam lorem</a></li>
            <li><a href="#">Ut wisi enim ad minim veniam </a></li>
            <li><a href="#">Ut wisi enim ad minim</a></li>
            <li><a href="#">Ut wisi enim ad minim veniam lo</a></li>
            <li><a href="#">Ut wisi enim ad minim veniam lo</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>