<div class="team  wow fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <h3 class="heding"><span>Meet the</span> team </h3>
      <div class="team-top">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna dolore.Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed diam nonummy nibh euismod tincidunt ut laoreet dolore magna dolore. </p>
      </div>
      <div class="row team-row">
        <div class="col-md-3 team-column">
          <div class="t_c_img">
            <img src="assets/pic1.jpg" alt="">
            <div class="caption">
              <a href="#"><img src="assets/img-hr.png" alt=""></a>
            </div>
          </div>
          <h3>John smith</h3>
          <p>Lore Ipsum is simple dummy text</p>
        </div>
        <div class="col-md-3 team-column">
          <div class="t_c_img">
            <img src="assets/pic2.jpg" alt="">
            <div class="caption">
              <a href="#"><img src="assets/img-hr.png" alt=""></a>
            </div>
          </div>
          <h3>John smith</h3>
          <p>Lore Ipsum is simple dummy text</p>
        </div>
        <div class="col-md-3 team-column">
          <div class="t_c_img ">
            <img src="assets/pic1.jpg" alt="">
            <div class="caption">
              <a href="#"><img src="assets/img-hr.png" alt=""></a>
            </div>
          </div>
          <h3>John smith</h3>
          <p>Lore Ipsum is simple dummy text</p>
        </div>
        <div class="col-md-3 team-column">
          <div class="t_c_img">
            <img src="assets/pic4.jpg" alt="">
            <div class="caption">
              <a href="#"><img src="assets/img-hr.png" alt=""></a>
            </div>
          </div>
          <h3>John smith</h3>
          <p>Lore Ipsum is simple dummy text</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>